<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}

.container{

    width: 100%;
    min-height: 100vh;
    background: #d0eaff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product{
    width: 90%;
    max-width: 750px;
    display: flex;
}

.gallery{
    flex-basis: 47%;
    background: #241e20;
    transform: scale(1.08);
    box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.gallery img{
    width: 100%;
    display: block;
    padding-top: 100px;
}

.details{
    flex-basis:53%;
    background: #fff;
    padding: 40px;
    padding-left: 60px;
    box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
    font-size: 13px;
    font-weight: 500;
    color: #777;


}

.details h1{
    color: #333;
    font-size: 35px;
}

.details h2{
    color: #555;
    font-size: 30px;
    font-weight: 600;
}

.details h3{
    color: #00d874;
    margin-bottom: 20px;
}

.details form{
    font-size: 15px;
    font-weight: 400;
}

.size-select{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.size-select p{
    width: 70px;
}

.size-select input:checked + span{
    color: blue;
    font-weight: 600;
}

.size-select input{
    display: none;
}

.size-select span{
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.color-select{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.color-select p{
    width: 75px;
}

.color-select span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 30px;
}

.color-1{
    background: red;
}

.color-2{
    background: #00d874;
}

.color-3{
    background: blue;
}

.color-4{
    background: pink;
}

.color-select input{
    display: none;
}

.color-select input:checked +span{
    transform: scale(0.7);
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px #fff;
}

.quantity-select{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.quantity-select p{
    width: 75px;
}

.quantity-select input{
    background: #eee;
    border: 0;
    outline: 0;
    padding: 2px 2px 2px 15px;
    width: 50px;
    border-radius: 12px;
}

form button{
    background: #553ff0;
    color: #fff;
    font-size: 17px;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    margin-top: 50px;
    box-shadow: 0 10px 10px rgba(85,63,240,0.25);
    cursor: pointer;

}

.controls{
    position: absolute;
    bottom: 40px;
    right: 20px;
}

.btn{
    display: block;
    width: 10px;
    height: 10px;
    border-radius:50% ;
    background: rgba(255, 255, 255, 0.5);
    margin: 10px;
    cursor: pointer;
}

.btn.active{
    background: #553ff0;
}
=======
* {
    margin: 0;
    padding: 0;
    font-family: "Popins", sans-serif;
    box-sizing: border-box;
  }
  
  body {
    background-color: #222;
  }
  
  .card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
  }
  
  .search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
  }
  
  .search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  
  .search button img {
    width: 16px;
  }
  
  .weather-icon {
    width: 170px;
    margin-top: 30px;
  }
  
  .weather h1 {
    font-size: 80px;
    font-weight: 500;
  }
  
  .weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
  }
  
  .details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-top: 50px;
  }
  
  .col {
    display: flex;
    align-items: center;
    text-align: left;
  }
  
  .col img {
    width: 40px;
    margin-right: 10px;
  }
  
  .humidity,
  .wind {
    font-size: 20px;
    margin-top: -6px;
  }
  
  .weather {
    display: none;
  }
  
  .error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
    color: red;
  }
>>>>>>> 5ec848f54c26438158b28f88a556045a435e7986
